<style>
    .calendarDay {
        margin-bottom: 10px;
    }

    .calendarDate {
        float: left;
        width: 80px;
        text-align: center;
        background: #eee;
        margin-right: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    .calendarDayNr h3 {
        margin: 0;
    }

    .calendarInfo {
        margin-left: 90px;
    }

	.weekHeader {
		margin-bottom: 0;
        margin-top: 0;
		color: #333;
	}
	
	.dateRange {
		margin-top: 0;
		margin-bottom: 25px;
		color: #888;
	}
</style>

<items-header></items-header>
    
<ul class="nav nav-tabs margin-b">
  <li role="presentation" class="active"><a href="#/eventWeeks">{{ 'eventItems.label.week' | t }}</a></li>
  <li role="presentation"><a href="#/eventSemesters">{{ 'eventItems.label.semester' | t }}</a></li>
</ul>

<div class="pull-left">
	<h3 class="weekHeader">{{ 'eventItems.label.week' | t }} {{item.week}}</h3>
</div>

<div class="btn-toolbar pull-right">
	<div class="btn-group">
		<a class="btn btn-default" href="#/eventWeeks/{{currentWeek.prevLink}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="btn btn-default" href="#/eventWeeks/current">{{ 'eventItems.label.today' | t }}</a>
		<a class="btn btn-default" href="#/eventWeeks/{{currentWeek.nextLink}}">
            <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>

<div class="clearfix"></div>

<h4 class="dateRange">{{ currentWeek.range | cordateDateRange }}</h4>

<div class="calendarDay" ng-repeat="day in currentWeek.days">
	<div class="calendarDate">
		<div class="calendarDayNr">
			<h3>{{day.date | cordateDayNumber}}</h3>
		</div>
		<div class="calendarDayName">{{ 'eventItems.label.' + (day.dayNumber + 1 | cordateDayName) | t}}</div>
	</div>

	<div class="calendarInfo" ng-show="eventsPerDay[day.dayNumber]">
		<table class="table table-hover">
			<tr id="{{event.id}}" ng-repeat="event in eventsPerDay[day.dayNumber]">
				<td ng-click="showDetails(event.id)">{{event.startTime | cordateTime}} <strong>{{event.title}}</strong></td>
                <td width="46">
                    <div class="btn-group pull-right"
                         permission="events:update:{{event.id}};events:update:eventTypes:{{event.eventType.id}};events:delete:{{event.id}};events:delete:eventTypes:{{event.eventType.id}}">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li permission="events:update:{{event.id}};events:update:eventTypes:{{event.eventType.id}}"><a href="#/{{types}}/{{event.id}}/edit">{{ 'items.action.edit' | t }}</a></li>
                            <li permission="events:delete:{{event.id}};events:delete:eventTypes:{{event.eventType.id}}"><a href="#" ng-click="deleteConfirm(event)" onclick="return false"><span class="text-danger">{{ 'items.action.delete' | t }}</span></a></li>
                        </ul>
                    </div>
                </td>
			</tr>
		</table>
	</div>

	<div class="clearfix"></div>
</div>

