<item>
	<h1>{{ 'event' | t }}</h1>
	<form class="form-horizontal" role="form">
	 	<textview item-name="title"></textview>
	 	<textview item-name="description"></textview>
	 	<timeview item-name="startTime"></timeview>
	 	<timeview item-name="endTime"></timeview>
	 	<textview item-name="eventType"></textview>
	 </form>

    <h5>{{ 'eventItem.label.location' | t }}</h5>
    {{ item.location.locationName }}

    <div ng-repeat="userResource in item.userResources">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h5>{{ userResource.userResourceTypeName }}</h5>
                <ul class="list-group eventUserResources">
                    <li class="list-group-item" ng-repeat="userReference in userResource.userReferences">
                        <span class="glyphicon glyphicon-user"></span> {{ userReference.userFullName }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</item>