<item-editor>
    <text-view item-name="eventType.name" form-label="eventType"></text-view>
    <time-input item-name="startTime"></time-input>
    <time-input item-name="endTime"></time-input>
	<text-input item-name="title" autofocus></text-input>
	<textarea-input item-name="description" help-text="eventItem.helpText.description"></textarea-input>
    <ref-or-text-input ref-item="item.location" ref-type="location"></ref-or-text-input>

    <checkbox-input ng-if="item.eventType.hasPublicEvents.allowChange" item-name="isPublic" help-text="eventItem.helpText.isPublic"></checkbox-input>
    <checkbox-view ng-if="!item.eventType.hasPublicEvents.allowChange" item-name="isPublic" help-text="eventItem.helpText.isPublic"></checkbox-view>

    <hr>

    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8 col-sm-offset-3 col-sm-6">
            <button class="btn btn-primary" ng-click="selectModal.showModal()">{{ 'itemEditor.action.addResource' | t }}</button>
        </div>
    </div>
    <div ng-repeat="resource in item.resources">
        <event-resource-input eventId="{{ item.id }}" resource="resource" show-remove="true" on-remove="removeResource(resource)"></event-resource-input>
    </div>
</item-editor>