<mat-nav-list (click)="showModal = true">
  <mat-list-item>
    <div mat-line>Tid</div>
    <div mat-line>{{ representation() }}</div>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>

<div class="modal" *ngIf="!!showModal">
  <div class="modal-content">

    <!-- Start -->
    <div class="select-box">
      <div class="day-header">{{ dateTexts.date }}</div>
      <div class="time-header">{{ dateTexts.time }}</div>
    </div>

    <div class="select-box">
      <table>
        <tbody>
          <tr class="header">
            <td colspan="7">
              <div>
                <button mat-icon-button (click)="moveStart(-1)"><mat-icon>chevron_left</mat-icon></button>
                <span>{{ calStart.month.format('MMMM YYYY') }}</span>
                <button mat-icon-button (click)="moveStart(1)"><mat-icon>chevron_right</mat-icon></button>
              </div>
            </td>
          </tr>
          <tr class="dayNames">
            <td>M</td><td>T</td><td>O</td><td>T</td><td>F</td><td>L</td><td>S</td>
          </tr>
          <tr class="dates" *ngFor="let row of calStart.dateRows">
            <td *ngFor="let col of row" (click)="selectStartDate(col.date)"
                [class.selected]="col.selected" [class.inMonth]="col.inMonth">
              {{ col.day }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="select-box">
      <table>
        <tbody>
          <tr class="dayNames">
            <td colspan="7">Tid</td>
          </tr>
          <tr class="times" *ngFor="let row of calStart.timeRows">
            <td *ngFor="let col of row" (click)="selectStartTime(col)"
                [class.selected]="col.selected" [class.time]="col.value != undefined">
              {{ col.value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- End -->

    <div class="select-box">
      <table>
        <tbody>
          <tr class="header">
            <td colspan="7">
              <div>
                <button mat-icon-button (click)="moveEnd(-1)"><mat-icon>chevron_left</mat-icon></button>
                <span>{{ calEnd.month.format('MMMM YYYY') }}</span>
                <button mat-icon-button (click)="moveEnd(1)"><mat-icon>chevron_right</mat-icon></button>
              </div>
            </td>
          </tr>
          <tr class="dayNames">
            <td>M</td><td>T</td><td>O</td><td>T</td><td>F</td><td>L</td><td>S</td>
          </tr>
          <tr class="dates" *ngFor="let row of calEnd.dateRows">
            <td *ngFor="let col of row" (click)="selectEndDate(col.date)"
                [class.selected]="col.selected" [class.inMonth]="col.inMonth">
              {{ col.day }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="select-box">
      <table>
        <tbody>
          <tr class="dayNames">
            <td colspan="7">Tid</td>
          </tr>
          <tr class="times" *ngFor="let row of calEnd.timeRows">
            <td *ngFor="let col of row" (click)="selectEndTime(col)"
                [class.selected]="col.selected" [class.time]="col.value != undefined">
              {{ col.value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div style="text-align: center; margin: 10px">
      <button mat-button (click)="cancel()">Avbryt</button>
      <button mat-button color="primary" (click)="ok()">Ok</button>
    </div>
  </div>
</div>
