@import "src/scss/cordate-theme-def.scss";
@import "src/scss/flex-mixin.scss";

/*:host {
  border: 1px solid #eee;
  width: 100%;
  padding: 10px;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
*/

.select-box {
  margin-bottom: 10px;
}

.day-header {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.time-header {
  background-color: #555;
  color: #FFF;
  padding: 10px;
  margin: 0 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

table {
  border-spacing: 6px;
  border-collapse: separate;
  margin: 0 auto;
}

.header td {
  background-color: mat-color($cordate-primary);
  color: #FFF;
  text-align: center;

  & div {
    @include fb-row-container();
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}

.dayNames td {
  background-color: mat-color($cordate-primary);
  color: #FFF;
  width: 30px;
  height: 30px;
  text-align: center;
}

.dates td {
  background-color: #eee;
  color: #777;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;

  &:hover {
    @include mat-elevation(2);
    @include mat-elevation-transition;
  }

  &.selected {
    background-color: #333;
    color: #FFF !important;
  }

  &.inMonth {
    color: #000;
  }
}

.times td {
  width: 30px;
  height: 30px;

  &.time {
    color: #000;
    background-color: #eee;
    text-align: center;
    cursor: pointer;

    &:hover {
      @include mat-elevation(2);
      @include mat-elevation-transition;
    }

    &.selected {
      background-color: #333;
      color: #FFF !important;
    }
  }
}



.modal {
  @include fb-column-container();
  align-items: center;
  justify-content: center;

  z-index: 80000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  height: 800px;
  max-height: 90%;
  width: 500px;
  max-width: 90%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #fff;

  overflow-y: auto;

  @include fb-column-container();
}

.select-row {
  border: 1px solid #eee;
  padding: 10px;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
