<lc-editor-container [item]="item" [actions]="actions" [disabled]="creatingNew" (closeEditor)="closeEditor($event)" (createItem)="createItem()">
  <lc-list *ngIf="item">
    <lc-text-editor lc-list-item valueTitle="Id-alias" icon="bookmark" [value]="item.idAlias" (changed)="setIdAlias($event)" [state]="idAliasState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Namn" [value]="item.name" (changed)="setName($event)" [state]="nameState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Beskrivning" [value]="item.description" (changed)="setDescription($event)" [state]="descriptionState" multiLine="true"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Tillåtna filtyper" icon="filter_list" [value]="item.allowedMimeTypes" (changed)="setAllowedMimeTypes($event)" [state]="allowedMimeTypesState"
      editingHelpText="MIME-typer. T.ex. 'application/pdf,images/' för att tillåta pdf och alla bildformat."></lc-text-editor>
  </lc-list>
</lc-editor-container>