<mat-icon class="list-icon">{{ icon }}</mat-icon>
<div class="list-content">
  <small class="value-title">{{ valueTitle }}</small>
  <div class="selectable-text">{{ value ? value.asText() : '-' }}</div>
</div>
<div *ngIf="state.editable || state.createMode" class="list-action">
  <button mat-icon-button [disabled]="state.saving" [matMenuTriggerFor]="refMenu">
    <mat-progress-bar *ngIf="state.saving" mode="indeterminate"></mat-progress-bar>
    <mat-icon *ngIf="!state.saving">more_vert</mat-icon>
  </button>
</div>

<mat-menu #refMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="!loading">
      <button mat-menu-item *ngIf="noRefsFound" disabled>Listan är tom</button>
      <button mat-menu-item *ngFor="let ref of visibleRefs" (click)="refSelected(ref)">{{ ref.asText() }}</button>
      <button mat-menu-item (click)="openViewMoreDialog()" *ngIf="showViewMore">Visa fler...</button>
      <div *ngIf="showClearOption" class="menu-divider"></div>
      <button mat-menu-item *ngIf="showClearOption" (click)="clear()">Rensa</button>
    </div>
  </ng-template>
</mat-menu>