<item-editor>
    <text-input item-name="email" type="email" autofocus></text-input>
	<text-input item-name="firstName"></text-input>
	<text-input item-name="lastName"></text-input>

    <div class="form-group" ng-class="errors.password">
        <label for="form-password" class="col-xs-4 col-sm-3 control-label">{{ 'formLabel.password' | t }}</label>
        <div class="col-xs-8 col-sm-6"><input type="password" class="form-control" id="form-password" ng-model="item.password"/></div>
    </div>

    <div class="form-group" ng-class="errors.reenteredPassword">
        <label for="form-reenteredPassword" class="col-xs-4 col-sm-3 control-label">{{ 'formLabel.reenterPassword' | t }}</label>
        <div class="col-xs-8 col-sm-6"><input type="password" class="form-control" id="form-reenteredPassword" ng-model="formHelper.reenteredPassword"/></div>
    </div>
    <hr>
    <p>{{ 'userEditor.note.logout' | t }}</p>
</item-editor>