<itemeditor>
	<textinput item-name="username" autofocus></textinput>
	<textinput item-name="firstName"></textinput>
	<textinput item-name="lastName"></textinput>

    <div class="form-group" ng-class="errors.password">
        <label for="form-password" class="col-xs-4 col-sm-2 control-label">{{ 'formLabel.password' | t }}</label>
        <div class="col-xs-8 col-sm-6"><input type="password" class="form-control" id="form-password" ng-model="item.password"/></div>
    </div>

    <div class="form-group" ng-class="errors.reenteredPassword">
        <label for="form-reenteredPassword" class="col-xs-4 col-sm-2 control-label">{{ 'formLabel.reenterPassword' | t }}</label>
        <div class="col-xs-8 col-sm-6"><input type="password" class="form-control" id="form-reenteredPassword" ng-model="formHelper.reenteredPassword"/></div>
    </div>
</itemeditor>