<div class="auth-window">
  <div class="auth-header">
    Välkommen till {{ applicationName }}
  </div>
  <div class="auth-content">
    <div *ngIf="errorMessage" class="alert-error">{{ errorMessage }}</div>

    <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
      <div *ngIf="selectedUser" class="username">
        <div style="flex: 1; padding: 8px 0;">{{ selectedUser.fullName }}<br><small>{{ selectedUser.username }}</small></div>
        <button type="button" mat-icon-button [matMenuTriggerFor]="usersMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-form-field *ngIf="!selectedUser">
        <input matInput [formControl]="usernameCtrl" placeholder="E-postadress" autofocus autocapitalize="none">
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="passwordCtrl" placeholder="Lösenord" type="password" autofocus>
      </mat-form-field>
      <button mat-button color="primary" type="submit" [disabled]="!form.valid">LOGGA IN</button>
    </form>
  </div>
</div>

<div class="auth-footer" *ngIf="!showSelectUser">
  <a *ngIf="showForgottenPasswordInfo" [routerLink]="['/auth/forgotten']" mat-raised-button color="warn">Glömt ditt lösenord?</a>
  <a [routerLink]="['/auth/signup']" mat-raised-button color="primary">Skapa nytt konto</a>
</div>

<mat-menu #usersMenu="matMenu" xPosition="before">
  <button mat-menu-item *ngFor="let user of previousUsers" (click)="setUser(user)">{{ user.fullName }}</button>
  <button mat-menu-item (click)="setUser()">Annat konto</button>
</mat-menu>