<div [class.file-drag-over]="isDragOver" opFilesDrop (opFilesDropDropped)="dragFilesDropped($event)" (opFilesDropOver)="dragFilesOver($event)">
  <div>
    <span>Släpp en fil här för att ladda upp den</span>
    <input class="file-input-hidden" type="file" name="file" tabindex="-1" #fileInput (change)="fileSelected($event)">
    <button mat-button (click)="fileInput.click()">eller välj fil att ladda upp</button>
    <hr>
  </div>
  <mat-dialog-content>
    <mat-grid-list cols="5" gutterSize="1px">
      <mat-grid-tile *ngFor="let asset of assets" (click)="selectAsset(asset)" (dblclick)="ok()">
        <div *ngIf="isSelected(asset)" class="selected"></div>
        <lc-upload-box [upload]="asset"></lc-upload-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions style="text-align: right">
    <button mat-button (click)="dialogRef.close()">Avbryt</button>
    <button mat-button color="primary" (click)="ok()">Ok</button>
  </mat-dialog-actions>
</div>