@import "src/scss/cordate-theme-def.scss";
@import "src/scss/flex-mixin.scss";

:host {
  @include fb-column-container();
}

.selected {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 4px solid mat-color($cordate-primary);
}
