<div [class.file-drag-over]="isDragOver" lcFileDrop (fileDropped)="dragFilesDropped($event)" (fileDragOver)="dragFilesOver($event)">
  <div>
    <h2 mat-dialog-title>Släpp en fil här för att ladda upp den</h2>
    <input class="file-input-hidden" type="file" name="file" tabindex="-1" #fileInput (change)="fileSelected($event)">
    <button mat-raised-button (click)="fileInput.click()">eller välj fil att ladda upp</button>
    <hr>
  </div>
  <mat-dialog-content>
    <mat-grid-list cols="5" gutterSize="1px">
      <mat-grid-tile *ngFor="let asset of assets" (click)="selectAsset(asset)" (dblclick)="ok()">
        <div *ngIf="isSelected(asset)" class="selected"></div>
        <lc-asset-box [asset]="asset"></lc-asset-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions class="flex-rows flex-align-end">
    <button mat-button (click)="dialogRef.close()">AVBRYT</button>
    <button mat-button color="primary" (click)="ok()">Ok</button>
  </mat-dialog-actions>
</div>