<lc-editor-container [item]="item" [actions]="actions" [disabled]="creatingNew" (closeEditor)="closeEditor($event)" (createItem)="createItem()">
  <lc-list *ngIf="item">
    <lc-ref-editor lc-list-item valueTitle="Skapa utifrån artikeltyp" refType="articleType" [value]="item.articleType" (changed)="setArticleType($event)" [state]="articleTypeState"></lc-ref-editor>
    <lc-text-editor lc-list-item valueTitle="Id-alias" [value]="item.idAlias" (changed)="setIdAlias($event)" [state]="idAliasState" icon="bookmark"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Titel" [value]="item.title" (changed)="setTitle($event)" [state]="titleState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Undertitel" [value]="item.subTitle" (changed)="setSubTitle($event)" [state]="subTitleState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Författare - Namn" [value]="item.authorName" (changed)="setAuthorName($event)" [state]="authorNameState" icon="person"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Författare - E-post" [value]="item.authorEmail" (changed)="setAuthorEmail($event)" [state]="authorEmailState" icon="email"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Författare - Hemsida" [value]="item.authorLink" (changed)="setAuthorLink($event)" [state]="authorLinkState" icon="link"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Copyright" [value]="item.copyright" (changed)="setCopyright($event)" [state]="copyrightState" icon="copyright"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Beskrivning" [value]="item.description" (changed)="setDescription($event)" [state]="descriptionState" multiLine="true"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Kategori" [value]="item.mainCategory" (changed)="setMainCategory($event)" [state]="mainCategoryState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Underkategori" [value]="item.subCategory" (changed)="setSubCategory($event)" [state]="subCategoryState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Språk" [value]="item.language" (changed)="setLanguage($event)" [state]="languageState" icon="language"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Länk till artiklar" [value]="item.articlesLink" (changed)="setArticlesLink($event)" [state]="articlesLinkState" icon="link"></lc-text-editor>
    <lc-asset-file-editor lc-list-item valueTitle="Bild" [asset]="item.image" (changed)="setImage($event)" [state]="imageState"></lc-asset-file-editor>
  </lc-list>
</lc-editor-container>