<items-header></items-header>
    
<ul class="nav nav-tabs margin-b">
  <li role="presentation"><a href="#/eventWeeks">{{ 'eventItems.label.week' | t }}</a></li>
  <li role="presentation" class="active"><a href="#/eventSemesters">{{ 'eventItems.label.semester' | t }}</a></li>
</ul>

<div class="pull-left">
	<h3 class="weekHeader">{{ 'eventItems.label.semester' | t }}</h3>
</div>

<div class="btn-toolbar pull-right">
	<div class="btn-group">
		<a class="btn btn-default" href="#/eventSemesters/{{currentSemester.prevLink}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="btn btn-default" href="#/eventSemesters/current">{{ 'eventItems.label.today' | t }}</a>
		<a class="btn btn-default" href="#/eventSemesters/{{currentSemester.nextLink}}">
            <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>

<div class="clearfix"></div>

<h4 class="dateRange">{{ currentSemester.range | cordateDateRange }}</h4>

<div ng-repeat="item in items">
    <hr>
    <div class="col-sm-offset-3">
        <h5>{{ item.startTime | cordateDate }} {{ item.startTime | cordateTime }} | {{ item.eventType.name }}</h5>
        <h3>{{ item.title }}</h3>
    </div>
    <form class="form-horizontal" role="form">
        <text-view item-name="description"></text-view>
        <div ng-repeat="resource in item.resources" ng-switch="allowAssignResourceType(resource)">
            <div ng-switch-when="false">
                <event-resource-view resource="resource"></event-resource-view>
            </div>
            <div ng-switch-when="true">
                <event-resource-input event-id="{{ item.id }}" resource="resource" assign-directly="true"></event-resource-input>
            </div>
        </div>
    </form>
</div>
