<items-header></items-header>
    
<ul class="nav nav-tabs margin-b">
  <li role="presentation"><a href="#/eventWeeks">{{ 'eventItems.label.week' | t }}</a></li>
  <li role="presentation" class="active"><a href="#/eventSemesters">{{ 'eventItems.label.semester' | t }}</a></li>
</ul>

<div class="pull-left">
	<h3 class="weekHeader">{{ 'eventItems.label.semester' | t }}</h3>
</div>

<div class="btn-toolbar pull-right">
	<div class="btn-group">
		<a class="btn btn-default" href="#/eventSemesters/{{currentSemester.prevLink}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="btn btn-default" href="#/eventSemesters/current">{{ 'eventItems.label.today' | t }}</a>
		<a class="btn btn-default" href="#/eventSemesters/{{currentSemester.nextLink}}">
            <span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>

<div class="clearfix"></div>

<h4 class="dateRange">{{ currentSemester.range | cordateDateRange }}</h4>

<div class="row">
    <div class="col-md-12">
        <div ng-if="resourceTypes.length > 0" class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                {{ "formLabel.resourceType" | t }}: {{ (selectedResourceType ? selectedResourceType.name : 'all') | t }}
                &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="changeResourceType(null)">{{ 'all' | t }}</a></li>
                <li ng-repeat="rt in resourceTypes"><a href="" ng-click="changeResourceType(rt)">{{ rt.name | t }}</a></li>
            </ul>
        </div>
    </div>
</div>


<div ng-repeat="item in filteredItems">
    <hr>
    <div class="col-sm-offset-3">
        <h5>{{ item.startTime | cordateDate }} {{ item.startTime | cordateTime }} | {{ item.eventType.name }}</h5>
        <h3><a ng-href="#/events/{{ item.id }}">{{ item.title }}</a></h3>
    </div>
    <form class="form-horizontal" role="form">
        <textarea-view item-name="description" if-exist></textarea-view>
        <div ng-repeat="resource in item.resources" ng-switch="allowAssignResourceType(resource)">
            <div ng-switch-when="false">
                <event-resource-view resource="resource"></event-resource-view>
            </div>
            <div ng-switch-when="true">
                <event-resource-input event-id="{{ item.id }}" resource="resource" assign-directly="true"></event-resource-input>
            </div>
        </div>
    </form>
</div>
