<lc-editor-container [item]="item" [actions]="actions" [disabled]="creatingNew" (closeEditor)="closeEditor($event)" (createItem)="createItem()">
  <lc-list *ngIf="item">
    <lc-text-editor lc-list-item valueTitle="Namn" [value]="item.name" (changed)="setName($event)" [state]="nameState"></lc-text-editor>
    <lc-static-editor lc-list-item valueTitle="Nivå" icon="star_half">{{ levelText() }}</lc-static-editor>
    <lc-ref-editor lc-list-item *ngIf="item.level == 2" valueTitle="För grupp" refType="group" [value]="item.entity" (changed)="setEntity($event)" [state]="entityState"></lc-ref-editor>
    <lc-ref-editor lc-list-item *ngIf="item.level == 3" valueTitle="För användare" refType="user" [value]="item.entity" (changed)="setEntity($event)" [state]="entityState"></lc-ref-editor>
    <lc-text-editor lc-list-item valueTitle="Behörigheter" icon="security" charAsRow="," [value]="item.patterns" (changed)="setPatterns($event)" [state]="patternsState" multiLine="true"
      editingHelpText="Separera behörigheter med komma (,). T.ex. 'events:view/read,slideShows:*'." #permissionEditor>
      <div style="margin-top: 8px">
        <button mat-raised-button (click)="showPermissionWizard()">Infoga från mall...</button>
      </div>
    </lc-text-editor>
  </lc-list>

  <br>

  <div *ngIf="item?.id;else beforeCreated">
    <lc-list header="Har behörighets-set">
      <div lc-list-item class="centered-list-item" *ngFor="let permissionSet of item.permissionSets">
        <div class="list-content">{{ permissionSet.asText() }}</div>
        <div class="list-action">
          <button mat-icon-button (click)="removePermissionSet(permissionSet)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
      <div lc-list-item class="centered-list-item" *ngIf="item.permissionSets.length === 0">
        <div class="list-content gray-text" style="color: #999"><em>Inga behörighets-set har lagts till</em></div>
      </div>
    </lc-list>

    <br>

    <lc-list header="Lägg till behörighets-set">
      <div lc-list-item class="centered-list-item" *ngFor="let permissionSet of permissionSetsNotInPermission">
        <div class="list-content">{{ permissionSet.asText() }}</div>
        <div class="list-action">
          <button mat-icon-button (click)="addPermissionSet(permissionSet)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
    </lc-list>
  </div>

  <ng-template #beforeCreated>
    <lc-error-background icon="info_outline" text="Du kan lägga till behörighets-set först efter att du har skapat behörigheten."></lc-error-background>
  </ng-template>
</lc-editor-container>