<item-editor>
    <form class="form-horizontal" role="form">
        <form-item label="permissionFor">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="formHelper.permissionType" value="everyone">
                    {{ 'permissionEditor.formLabel.everyone' | t }}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="formHelper.permissionType" value="group">
                    {{ 'permissionEditor.formLabel.group' | t }}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="formHelper.permissionType" value="user">
                    {{ 'permissionEditor.formLabel.user' | t }}
                </label>
            </div>
        </form-item>

        <div ng-if="formHelper.permissionType == 'group'">
            <ref-input ref-item="item.group" ref-type="group"></ref-input>
        </div>

        <div ng-if="formHelper.permissionType=='user'">
            <ref-input ref-item="item.user" ref-type="user"></ref-input>
        </div>

        <textarea-input item-name="patterns" autofocus rows="8"></textarea-input>
    </form>
</item-editor>