<items-header></items-header>

<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="3">{{ 'permissionItems.label.permissionsForEveryone' | t }}</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{item.id}}" ng-repeat="item in items | commonPermissions">
        <td width="40%" ng-click="showDetails(item.id)">{{ 'permissionItems.label.everyone' | t }}</td>
        <td ng-click="showDetails(item.id)">
            <span ng-repeat="pattern in item.patterns">
                <span class="label label-default">{{ pattern }}</span>
            </span>
        </td>
        <td width="46">
            <div permission="update:{{types}}:{{item.id}},delete:{{types}}:{{item.id}}" class="btn-group pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li permission="update:{{types}}:{{item.id}}"><a href="#/{{types}}/{{item.id}}/edit">{{ 'items.action.edit' | t }}</a></li>
                    <li permission="delete:{{types}}:{{item.id}}" class="text-danger"><a href="" class="text-danger" ng-click="remove(item)"><span class="text-danger">{{ 'items.action.delete' | t }}</span></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="3">{{ 'permissionItems.label.permissionsForGroups' | t }}</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{item.id}}" ng-repeat="item in items | filter:searchFormHelper.query | groupPermissions">
        <td width="40%" ng-click="showDetails(item.id)">{{item.group.referredObject.name}}</td>
        <td ng-click="showDetails(item.id)">
            <span ng-repeat="pattern in item.patterns">
                <span class="label label-default">{{ pattern }}</span>
            </span>
        </td>
        <td width="46">
            <div permission="update:{{types}}:{{item.id}},delete:{{types}}:{{item.id}}" class="btn-group pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li permission="update:{{types}}:{{item.id}}"><a href="#/{{types}}/{{item.id}}/edit">{{ 'items.action.edit' | t }}</a></li>
                    <li permission="delete:{{types}}:{{item.id}}" class="text-danger"><a href="" class="text-danger" ng-click="remove(item)"><span class="text-danger">{{ 'items.action.delete' | t }}</span></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="3">{{ 'permissionItems.label.permissionsForUsers' | t }}</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{item.id}}" ng-repeat="item in items | filter:searchFormHelper.query | userPermissions">
        <td width="40%" ng-click="showDetails(item.id)"><span class="glyphicon glyphicon-user"></span> {{item.user.referredObject.username}}</td>
        <td ng-click="showDetails(item.id)">
            <span ng-repeat="pattern in item.patterns">
                <span class="label label-default">{{ pattern }}</span>
            </span>
        </td>
        <td width="46">
            <div permission="update:{{types}}:{{item.id}},delete:{{types}}:{{item.id}}" class="btn-group pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li permission="update:{{types}}:{{item.id}}"><a href="#/{{types}}/{{item.id}}/edit">{{ 'items.action.edit' | t }}</a></li>
                    <li permission="delete:{{types}}:{{item.id}}" class="text-danger"><a href="" class="text-danger" ng-click="remove(item)"><span class="text-danger">{{ 'items.action.delete' | t }}</span></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
