<lc-double-pane>
  <!-- Shoud be <pane-main> when https://github.com/angular/angular/issues/11251 is solved -->
  <div class="pane-main">
    <lc-page-header title="Resurser"></lc-page-header>
    <div class="filter-bar dark">
      <button mat-button [matMenuTriggerFor]="resourceTypesMenu"><small>Resurstyp: </small>{{ selectedResourceType.asText() }}</button>
      <div class="expander"></div>
      <button *ngIf="allowAddNew" mat-icon-button (click)="openEditorWithNew()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <lc-resource-list (select)="onItemSelected($event)" [filterResourceType]="selectedResourceType"></lc-resource-list>
  </div>

  <div class="pane-aside">
    <lc-resource-editor [item]="selectedItem" (close)="onEditorClose()"></lc-resource-editor>
  </div>
</lc-double-pane>

<mat-menu #resourceTypesMenu="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let item of resourceTypes" (click)="selectResourceType(item)">
    {{ item.asText() }}
  </button>
</mat-menu>