<itemeditor>
	<textinput item-name="name" autofocus></textinput>

    <div class="form-group" ng-class="errors.groupId">
        <label for="form-group" class="control-label">{{ 'userResourceTypeEditor.formLabel.group' | t }}</label>
        <select id="form-group" class="form-control" ng-model="item.groupId" ng-options="group.id as group.name for group in formHelper.groups">
            <option value="">{{ 'userResourceTypeEditor.formLabel.choseGroup' | t }}</option>
        </select>
    </div>

    <div class="form-group" ng-class="errors.orderPriority">
        <label for="form-sortOrder" class="control-label">{{ 'userResourceTypeEditor.formLabel.sortOrder' | t }}</label>
        <input id="form-sortOrder" class="form-control" type="number" ng-model="item.sortOrder" min="0">
    </div>
</itemeditor>