<lc-double-pane>
  <!-- Shoud be <pane-main> when https://github.com/angular/angular/issues/11251 is solved -->
  <div class="pane-main">
    <lc-page-header [title]="articleTypeData?.articlesTitle"></lc-page-header>
    <div class="filter-bar dark">
      <div class="expander"></div>
      <button *ngIf="allowAddNew" mat-icon-button (click)="showNewDialog()"><mat-icon>add_circle</mat-icon></button>
    </div>
    <lc-article-list (select)="onItemSelected($event)"></lc-article-list>
  </div>

  <div class="pane-aside">
    <lc-article-editor [item]="selectedItem" (close)="onEditorClose()"></lc-article-editor>
  </div>
</lc-double-pane>