<lc-double-pane>
  <!-- Shoud be <pane-main> when https://github.com/angular/angular/issues/11251 is solved -->
  <div class="pane-main">
    <lc-page-header title="Bildspel"></lc-page-header>
    <div class="filter-bar dark">
      <div class="expander"></div>
      <button *ngIf="allowAddNew" mat-icon-button (click)="openEditorWithNew()"><mat-icon>add_circle</mat-icon></button>
    </div>
    <lc-slide-show-list (select)="onItemSelected($event)"></lc-slide-show-list>
  </div>

  <div class="pane-aside">
    <lc-slide-show-editor [item]="selectedItem" (close)="onEditorClose()"></lc-slide-show-editor>
    <!-- <lc-slide-editor [item]="selectedItem" (close)="onEditorClose()"></lc-slide-editor> -->
  </div>
</lc-double-pane>