<items-header></items-header>

<table class="table table-default table-hover">
    <thead>
    <tr>
        <th>{{ 'groupMembershipItems.label.tableTitleGroup' | t }}</th>
        <th>{{ 'groupMembershipItems.label.tableTitleUser' | t }}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{item.id}}" ng-repeat="item in items | orderBy:['group.referredObject.name', 'user.referredObject.username']">
        <td ng-click="showDetails(item.id)">{{item.group.referredObject.name}}</td>
        <td ng-click="showDetails(item.id)"><span class="glyphicon glyphicon-user"></span> {{item.user.referredObject.username}}</td>
        <td width="46">
            <div class="btn-group pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#/{{types}}/{{item.id}}/edit">{{ 'items.action.edit' | t }}</a></li>
                    <li class="text-danger"><a href="" class="text-danger" ng-click="remove(item)"><span class="text-danger">{{ 'items.action.delete' | t }}</span></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
