<mat-icon class="list-icon">access_time</mat-icon>
<div class="list-content">
  <div class="value-title">{{ valueTitle }}</div>
  <div *ngIf="!state.editing && !state.createMode" class="selectable-text">{{ time?.format('YYYY-MM-DD HH:mm') }}</div>
  <div *ngIf="state.editing || state.createMode" class="flex-cols">
    <div>
      <mat-form-field style="max-width: 8rem">
        <input matInput [matDatepicker]="datepicker" [formControl]="editingDate" (dateChange)="dateChanged()" placeholder="Från" autofocus>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="max-width: 5rem">
        <input matInput type="time" [(ngModel)]="editingTime" (ngModelChange)="timeChanged()">
      </mat-form-field>
    </div>
  </div>
</div>
<div *ngIf="state.editable && !state.createMode" class="list-action">
  <button mat-icon-button [disabled]="state.saving" (click)="editOrSave()" [color]="state.editing ? 'primary' : undefined">
    <mat-progress-spinner *ngIf="state.saving" mode="indeterminate" style="zoom: 0.4"></mat-progress-spinner>
    <mat-icon *ngIf="!state.saving">{{ state.editing ? 'edit' : 'expand_more' }}</mat-icon>
  </button>
  <button mat-icon-button *ngIf="state.editing" (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>