<mat-icon class="list-icon">access_time</mat-icon>
<div class="list-content">
  <div class="value-title">{{ valueTitle }}</div>
  <div *ngIf="!state.editing && !state.createMode" class="selectable-text">{{ time?.format('YYYY-MM-DD HH:mm') }}</div>
  <div *ngIf="state.editing || state.createMode" class="flex-cols">
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="datepicker" [formControl]="editingDate" (dateChange)="dateChanged()" placeholder="Från" autofocus>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="time" [(ngModel)]="editingTime" (ngModelChange)="timeChanged()">
      </mat-form-field>
    </div>
    <div *ngIf="!state.createMode">
      <button mat-button (click)="cancel()">Avbryt</button>
      <button mat-button (click)="saveValue()" color="primary">Spara</button>
    </div>
  </div>
</div>
<div *ngIf="!state.editing && state.editable && !state.createMode" class="list-action">
  <button mat-icon-button [disabled]="state.saving" (click)="state.editing = true">
    <mat-progress-spinner *ngIf="state.saving" mode="indeterminate" style="zoom: 0.4"></mat-progress-spinner>
    <mat-icon *ngIf="!state.saving">edit</mat-icon>
  </button>
</div>