<div style="position: relative" *ngIf="isLoading">
  <mat-progress-bar style="position: absolute" mode="indeterminate"></mat-progress-bar>
</div>
<lc-error-background *ngIf="failedToLoad" text="Misslyckades att ladda data. Testa att logga ut och sen logga in igen."></lc-error-background>
<lc-list class="max-height-header-filter" *ngIf="!failedToLoad">
  <div lc-list-item *ngFor="let item of items" (click)="selectItem(item)" clickable="true">
    <div class="list-content">{{ item.asText() }}</div>
    <div class="list-content">
      <div class="list-description">Senast använd</div>
      <div *ngIf="item.lastUseTime">{{ item.lastUseTime | amCalendar }}</div>
      <div *ngIf="!item.lastUseTime">-</div>
    </div>
  </div>
</lc-list>