<lc-double-pane>
  <!-- Shoud be <pane-main> when https://github.com/angular/angular/issues/11251 is solved -->
  <div class="pane-main">
    <lc-page-header title="Grupper"></lc-page-header>
    <div class="filter-bar dark">
      <div class="expander"></div>
      <button *ngIf="allowAddNew" mat-icon-button (click)="openEditorWithNew()"><mat-icon>add_circle</mat-icon></button>
    </div>
    <lc-group-list (select)="onItemSelected($event)"></lc-group-list>
  </div>

  <div class="pane-aside">
    <lc-group-editor [item]="selectedItem" (close)="onEditorClose()"></lc-group-editor>
  </div>
</lc-double-pane>