<div class="auth-window">
  <div class="auth-header">
    <div>Glömt ditt lösenord?</div>
    <a [routerLink]="['/auth/login']">
      <mat-icon>close</mat-icon>
    </a>
  </div>
  <div class="auth-content">
    <div *ngIf="errorMessage" class="alert-error">{{ errorMessage }}</div>

    <div *ngIf="!token">
      <p>Om du har glömt ditt lösenord då kan du här ange din e-postadress i fältet nedan och sedan klicka på Skicka.</p>
      <p>Ett e-postmeddelande kommer att skickas till dig med instruktioner för hur du anger ett nytt lösenord.</p>

      <form *ngIf="notSent" [formGroup]="formSend" (ngSubmit)="send()" autocomplete="off">
        <mat-form-field>
          <input matInput type="email" [formControl]="emailCtrl" placeholder="E-postadress" style="width: 100%" autocapitalize="none">
        </mat-form-field>
        <button mat-button color="primary" type="submit" [disabled]="!formSend.valid">SKICKA</button>
      </form>

      <h4 *ngIf="success">Skickat till: <u>{{ emailCtrl.value }}</u></h4>
    </div>

    <div *ngIf="token && !tokenHasExpired">
      <h4>{{ userOfToken }}</h4>
      <p>Ange det lösenord som du vill byta till</p>

      <form *ngIf="notSent" [formGroup]="formApply" (ngSubmit)="apply()" autocomplete="off">
        <mat-form-field>
          <input matInput type="password" [formControl]="passwordCtrl" placeholder="Lösenord" style="width: 100%">
        </mat-form-field>
        <button *ngIf="!sending && !success" mat-button color="primary" type="submit" [disabled]="!formApply.valid">ÄNDRA</button>
      </form>

      <h4 *ngIf="success">Lösenordet har ändrats. <a [routerLink]="['Login']">Logga in</a></h4>
    </div>

    <mat-progress-spinner *ngIf="sending" mode="indeterminate" style="zoom: 0.4"></mat-progress-spinner>
  </div>

  <lc-error-background *ngIf="token && tokenHasExpired" text="Det har gått mer än 30 minuter sedan länken skickades till dig. Den är däför inte längre giltig."></lc-error-background>
</div>