<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">{{ type + 'Items.prompt.itemDeleteConfirmation' | t }}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">{{ 'item.action.cancel' | t }}</button>
                <button type="button" class="btn btn-danger" ng-click="remove(item);$hide()">{{ 'item.action.delete' | t }}</button>
            </div>
        </div>
    </div>
</div>
