<div ng-if="tableHeaderUrl" ng-include="tableHeaderUrl"></div>
<div class="row">
<div class="col-md-12">
<table class="table table-hover">
    <tbody>
    <tr id="{{item.id}}" ng-repeat="item in items">
        <td ng-click="showDetails(item.id)" item-transclude></td>
        <td width="46" height="46">
            <div permission="update:{{types}}:{{item.id}},delete:{{types}}:{{item.id}}"
                 ng-show="allowEditItem(item) || allowDeleteItem(item)" class="btn-group pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li permission="update:{{types}}:{{item.id}}" ng-show="allowEditItem(item)"><a href="#/{{types}}/{{item.id}}/edit">{{ 'items.action.edit' | t }}</a></li>
                    <li permission="delete:{{types}}:{{item.id}}" ng-show="allowDeleteItem(item)"><a href="#" ng-click="deleteConfirm(item)" onclick="return false"><span class="text-danger">{{ 'items.action.delete' | t }}</span></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>