<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    	<div class="modal-content">
    		<div class="modal-header">
    		  <button type="button" class="close" ng-click="$hide()">×</button>
    		  <h4>{{ modalTitle | t }}</h4>
    		</div>
    		<div class="modal-body">
                <spinner while="modalItems.length == 0"></spinner>
    			<div class="list-group">
    				<a href="" ng-click="$hide();onOk(item)" ng-class="{active: item.selected}" ng-repeat="item in modalItems" class="list-group-item">{{ item.title | t }}</a>
    			</div>
    		</div>
    	</div>
    </div>
</div>
