<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">x</button>
                <h4>{{ labels.modalTitle | t }}</h4>
            </div>
            <div class="modal-body row">
                <div ng-repeat="item in modalItems" class="col-xs-6 col-sm-4">
                    <div class="list-group">
                        <a href="" ng-click="inputModal.toggleModalItem(item)" ng-class="{active: item.selected}" class="list-group-item"> 
                            <img class="modal-img-item img-responsive" ng-src="{{item.fileUrl}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide();inputModal.saveModalItems()">{{ 'itemEditor.action.ok' | t }}</button>
                <button type="button" class="btn btn-default" ng-click="$hide();">{{ 'itemEditor.action.cancel' | t }}</button>
            </div>
        </div>
    </div>
</div>