<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    	<div class="modal-content">
    		<div class="modal-header">
    		  <button type="button" class="close" ng-click="$hide()">×</button>
    		  <h4>{{ createModal.modalTitle | t }}</h4>
    		</div>
    		<div class="modal-body">
    			<div class="list-group">
    				<a href="" ng-click="$hide();createModal.create(item)" ng-class="{active: item.selected}" ng-repeat="item in createModal.modalItems" class="list-group-item">{{ item.title | t }}</a>
    			</div>
    		</div>
    	</div>
    </div>
</div>
