<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">x</button>
                <h4>{{ labels.modalTitle | t }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-repeat="item in modalItems | startFrom:currentPage*pageSize | limitTo:pageSize" class="col-xs-6 col-md-3">
                        <div class="list-group">
                            <a href="" ng-click="inputModal.toggleModalItem(item)" ng-class="{active: item.selected}" class="list-group-item"> 
                                <img class="modal-img-item img-responsive center-block" ng-src="{{iconImg(item)}}">
                                <div class="text-center">{{ item.text }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group col-xs-12" role="group" ng-show="listPages.length > 1">
                        <button class="btn btn-default" type="button"
                                ng-repeat="p in listPages track by $index"
                                ng-class="{ 'btn-primary': $index === currentPage }"
                                ng-click="$parent.currentPage = $index">
                            {{ $index + 1 }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide();inputModal.saveModalItems()">{{ 'itemEditor.action.ok' | t }}</button>
                <button type="button" class="btn btn-default" ng-click="$hide();">{{ 'itemEditor.action.cancel' | t }}</button>
            </div>
        </div>
    </div>
</div>