<div class="form-group" ng-class="errors.{{ refType }}">
	<label class="col-xs-4 col-sm-3 control-label">{{ 'formLabel.image' | t }}</label>
	<div class="col-xs-8 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading" ng-if="panelTitle"><h3 class="panel-title">{{ 'formLabel.' + panelTitle | t }}</h3></div>
            <img ng-repeat="pi in panelItems" class="panel-img-item" ng-src="{{ pi.fileUrl }}" alt="{{ pi.title }}">
			<div class="panel-footer">
				<button type="button" class="btn btn-primary btn-sm" ng-click="inputModal.showModal()">{{ 'itemEditor.action.select' | t }}</button>
			</div>
		</div>
	</div>
</div>
