<mat-icon class="list-icon">{{ editorIcon() }}</mat-icon>
<div class="list-content">
  <div class="value-title">{{ valueTitle }}</div>
  <div *ngIf="!state.editing && !state.createMode" class="selectable-text" [innerHtml]="displayValue"></div>
  <div *ngIf="state.editing || state.createMode" class="flex-cols">
    <mat-form-field *ngIf="!multiLine">
      <input matInput [(ngModel)]="editingValue" (ngModelChange)="valueChanged()">
      <mat-hint *ngIf="editingHelpText">{{ editingHelpText }}</mat-hint>
    </mat-form-field>
    <mat-form-field *ngIf="multiLine">
      <textarea matInput matTextareaAutosize [(ngModel)]="editingValue" (ngModelChange)="valueChanged()"></textarea>
      <mat-hint *ngIf="editingHelpText">{{ editingHelpText }}</mat-hint>
    </mat-form-field>
  </div>
</div>
<div *ngIf="state.editable && !state.createMode" class="list-action">
  <button mat-icon-button [disabled]="state.saving" (click)="editOrSave()" [color]="state.editing ? 'primary' : undefined">
    <mat-progress-bar *ngIf="state.saving" mode="indeterminate"></mat-progress-bar>
    <mat-icon *ngIf="!state.saving">{{ state.editing ? 'edit' : 'expand_more' }}</mat-icon>
  </button>
  <button mat-icon-button *ngIf="state.editing" (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>