@import "src/scss/flex-mixin.scss";
@import "src/scss/cordate-theme-def.scss";

:host {
  display: block;
}

mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  color: #fff;
  background-color: linear-gradient(mat-color($cordate-primary, 0.8), mat-color($cordate-primary, 0.8));
  background: linear-gradient(mat-color($cordate-primary, 0.8), mat-color($cordate-primary, 0.8)), url(/assets/background.png);

  & > button {
    margin-left: -0.5rem;
  }

  & > span {
    padding-left: 0.5rem;
  }
}

mat-sidenav {
  width: 16rem;
  max-width: 16rem;
  overflow-x: hidden;
  background-color: #fff;
}

[mat-icon-button] mat-icon {
  color: white;
}

[mat-list-item] {
  &.selected {
    background-color: mat-color($cordate-primary, 100);
    color: mat-color($cordate-primary, 900);

    mat-icon {
      color: mat-color($cordate-primary, 900);
    }
  }
  &.selected:focus, &.selected:hover {
    background-color: mat-color($cordate-primary, 100);
  }

}

.content-wrapper {
  @include fb-column-container();

  max-width: 96rem;
  margin: 0 auto;
  padding-top: 4rem;

  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.full-height-content {
  @include fb-fill();
}


@media screen and (min-width: 112rem) {
  mat-toolbar {
    left: 16rem;

    & > button {
      display: none;
    }

    & > span {
      padding-left: 1rem;
    }
  }
}

@media screen and (max-width: 48rem) {
  mat-toolbar {
    display: none;
  }

  .content-wrapper {
    padding-top: 0;
    min-height: 100vh;
    max-height: 100vh;
  }
}

a {
  outline: none;
}
