<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z6" [mode]="sideModeQuery.matches ? 'side' : 'over'" fixedInViewport="false" [opened]="sideModeQuery.matches">
    <div>
      <div style="background-color: #693; padding: 0.5rem; color: #f9f9f9">
        <p style="padding: 1rem;"></p>
        <div style="display: flex; cursor: pointer;" [matMenuTriggerFor]="userMenu">
          <div style="flex: 100">
            {{ authService.user.fullName }}<br>{{ authService.user.email }}
          </div>
          <button mat-icon-button>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>

        <mat-menu #userMenu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="'/auth/logout'">Logga ut</button>
        </mat-menu>
      </div>

      <mat-nav-list>
        <a mat-list-item *ngFor="let link of rootLinks" (click)="closeNav()" [routerLink]="[link.routePath]" routerLinkActive="selected">
          <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
          <p mat-line>{{link.title}}</p>
        </a>

        <h3 matSubheader *ngIf="mediaLinks.length">Media</h3>
        <a mat-list-item *ngFor="let link of mediaLinks" (click)="closeNav()" [routerLink]="[link.routePath]" routerLinkActive="selected">
          <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
          <p mat-line>{{link.title}}</p>
        </a>

        <h3 matSubheader *ngIf="articleLinks.length">Undervisning</h3>
        <a mat-list-item *ngFor="let link of articleLinks" (click)="closeNav()" [routerLink]="[link.routePath]" routerLinkActive="selected">
          <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
          <p mat-line>{{link.title}}</p>
        </a>

        <h3 matSubheader *ngIf="userLinks.length">Personer</h3>
        <a mat-list-item *ngFor="let link of userLinks" (click)="closeNav()" [routerLink]="[link.routePath]" routerLinkActive="selected">
          <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
          <p mat-line>{{link.title}}</p>
        </a>

        <h3 matSubheader *ngIf="exportLinks.length">Export</h3>
        <a mat-list-item *ngFor="let link of exportLinks" (click)="closeNav()" [routerLink]="[link.routePath]" routerLinkActive="selected">
          <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
          <p mat-line>{{link.title}}</p>
        </a>

        <h3 matSubheader *ngIf="configurationLinks.length">Konfiguration</h3>
        <a mat-list-item *ngFor="let link of configurationLinks" (click)="closeNav()" [routerLink]="[link.routePath]" routerLinkActive="selected">
          <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
          <p mat-line>{{link.title}}</p>
        </a>

        <div *ngIf="hasNoLinks" class="alert-error">Du saknar tyvärr behörigheter för att få se något annat än "Mina sidor".</div>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button *ngIf="!router.url.startsWith('/auth')" mat-icon-button (click)="toggleNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ applicationName }}</span>
    </mat-toolbar>
    <main class="content-wrapper">
      <div class="full-height-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>