<mat-icon class="list-icon">security</mat-icon>
<div class="list-content">
  <div class="value-title">{{ valueTitle }}</div>
  <div *ngIf="!state.editing && !state.createMode" [innerHtml]="displayValue"></div>
  <div *ngIf="state.editing || state.createMode" class="rows-container">
    <mat-form-field>
      <input type="password" matInput [(ngModel)]="editingValue" (ngModelChange)="valueChanged()">
    </mat-form-field>
  </div>
</div>
<div *ngIf="state.editable && !state.createMode" class="list-action">
  <button mat-icon-button [disabled]="state.saving" (click)="buttonClicked()" [color]="state.editing ? 'primary' : undefined">
    <mat-progress-spinner *ngIf="state.saving" mode="indeterminate" style="zoom: 0.4"></mat-progress-spinner>
    <mat-icon *ngIf="!state.saving">{{ state.editing ? 'edit' : 'expand_more' }}</mat-icon>
  </button>
</div>