<a href="#permissions">« Back to permissions</a>

{{#if id}}
<h1>Edit permission</h1>
{{else}}
<h1>New permission</h1>
{{/if}}

<p>
	<form>

	{{#if id}}
		{{#if everyone}}Permission for everyone{{/if}}
		{{#if groupId}}Permission for group {{groupName}}{{/if}}
		{{#if userId}}Permission for user {{userFullName}}{{/if}}
	{{else}}
	
	<label>Permission for</label>
	<label class="radio">
		<input type="radio" name="patternType" value="everyone" {{#if everyone}}checked{{/if}}>Everyone</input>
	</label>
	<label class="radio">
		<input type="radio" name="patternType" value="group" {{#if groupId}}checked{{/if}}>Group</input>
	</label>
	<label class="radio">
		<input type="radio" name="patternType" value="user" {{#if userId}}checked{{/if}}>User</input>
	</label>
	
	<div id="userSelection" {{#unless userId}}style="display:none"{{/unless}}>
		<label>User</label>
		<select name="user">
			<option value="">Chose user...</option>
		{{#each users}}
			<option value="{{id}}" {{selected id ../userId}}>{{firstName}} {{lastName}} ({{username}})</option>
		{{/each}}
		</select>
	</div>
	
	<div id="groupSelection" {{#unless groupId}}style="display:none"{{/unless}}>
		<label>Group</label>
		<select name="group">
			<option value="">Chose group...</option>
		{{#each groups}}
			<option value="{{id}}" {{selected id ../groupId}}>{{name}}</option>
		{{/each}}
		</select>
	</div>
	
	{{/if}}
	
	  <label>Patterns</label>
	  <textarea name="patterns" rows="5">{{patterns}}</textarea>
	  
	  <div class="form-actions">
	    <a href="#" class="btn btn-primary save">Save</a>
	    <a href="#" class="btn cancel">Cancel</a>
		{{#if id}}
	    <a href="#" class="btn btn-danger pull-right delete" id="deleteButton">Delete</a>
		{{/if}}
	  </div>
	</form>
</p>