<h1>Permissions</h1>

<p>
{{#if models}}

<b>Permissions for everyone</b>
<table class="table table-bordered table-hover">
	{{#each models}}
	
	{{#if everyone}}
	<tr id="{{id}}">
		<td width="40%">Everyone</td>
		<td>{{#each patterns}} {{.}} {{/each}}</td>
	</tr>
	{{/if}}
	{{/each}}
</table>

<b>Group permissions</b>
<table class="table table-bordered table-hover">
	{{#each models}}
	
	{{#if groupId}}
	<tr id="{{id}}">
		<td width="40%">{{groupName}}</td>
		<td>{{#each patterns}} {{.}} {{/each}}</td>
	</tr>
	{{/if}}
	{{/each}}
</table>

<b>User permissions</b>
<table class="table table-bordered table-hover">
	{{#each models}}
	
	{{#if userId}}
	<tr id="{{id}}">
		<td width="40%">{{userFullName}}</td>
		<td>{{#each patterns}} {{.}} {{/each}}</td>
	</tr>
	{{/if}}
	{{/each}}
</table>
{{/if}}
</p>

<button class="btn btn-primary create" id="create">
<i class="icon-plus icon-white"></i>
New permission
</button>