<a href="#themes">« Back to themes</a>

{{#if id}}
<h1>Edit theme</h1>
{{else}}
<h1>New theme</h1>
{{/if}}

<p>
	<form>
	  <label>Title</label>
	  <input name="title" type="text" placeholder="Title" value="{{title}}"/>
	  
	  <label>Description</label>  
	  <textarea name="description" rows="3">{{description}}</textarea>
	  
	  <div class="form-actions">
	    <a href="#" class="btn btn-primary save">Save</a>
	    <a href="#" class="btn cancel">Cancel</a>
		{{#if id}}
	    <a href="#" class="btn btn-danger pull-right delete" id="deleteButton">Delete</a>
		{{/if}}
	  </div>
	</form>
</p>