<mat-icon class="list-icon">{{ icon }}</mat-icon>
<div class="list-content">
  <small class="value-title">{{ valueTitle }}</small>
  <div class="selectable-text">{{ selectedText() }}</div>
</div>
<div *ngIf="state.editable || state.createMode" class="list-action">
  <button mat-icon-button [disabled]="state.saving" [matMenuTriggerFor]="boolMenu">
    <mat-progress-bar *ngIf="state.saving" mode="indeterminate"></mat-progress-bar>
    <mat-icon *ngIf="!state.saving">more_vert</mat-icon>
  </button>
</div>

<mat-menu #boolMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let option of options" [disabled]="option.disabled" (click)="valueSelected(option.value)">{{ option.text }}</button>
  </ng-template>
</mat-menu>