<div class="auth-window">
  <div class="auth-header">
    <div>Nytt konto</div>
    <a [routerLink]="['/auth/login']">
      <mat-icon>close</mat-icon>
    </a>
  </div>
  <div class="auth-content">
    <div *ngIf="errorMessage" class="alert-error">{{ errorMessage }}</div>

    <form [formGroup]="form" (ngSubmit)="signup()" autocomplete="off">
      <mat-form-field>
        <input matInput [formControl]="emailCtrl" placeholder="E-postadress">
        <mat-hint align="end" *ngIf="!form.disabled && !emailCtrl.valid && emailCtrl.touched">Måste fyllas i</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="firstNameCtrl" placeholder="Förnamn">
        <mat-hint align="end" *ngIf="!form.disabled && !firstNameCtrl.valid && firstNameCtrl.touched">Måste fyllas i</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="lastNameCtrl" placeholder="Efternamn">
        <mat-hint align="end" *ngIf="!form.disabled && !lastNameCtrl.valid && lastNameCtrl.touched">Måste fyllas i</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="passwordCtrl" placeholder="Lösenord" type="password">
        <mat-hint align="end" *ngIf="!form.disabled && !passwordCtrl.valid && passwordCtrl.touched">Måste fyllas i</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="repeatedCtrl" placeholder="Repetera lösenord" type="password">
        <mat-hint align="end" *ngIf="!form.disabled && !repeatedCtrl.valid && repeatedCtrl.touched">Lösenorden är olika</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput [formControl]="wantedPermissionsCtrl" placeholder="Grupper som du ingår i">
        <mat-hint>T.ex. mötesledare, ljud eller tolk.</mat-hint>
        <mat-hint align="end" *ngIf="!form.disabled && !wantedPermissionsCtrl.valid && wantedPermissionsCtrl.touched">Måste fyllas i</mat-hint>
      </mat-form-field>

      <div style="background-color: #f9f9f9; padding: 4px; margin: 16px 0;">
        <mat-checkbox color="primary" [formControl]="acceptConsentCtrl">{{ consentText }}</mat-checkbox>
      </div>

      <button *ngIf="notSent" mat-button color="primary" type="submit" [disabled]="!form.valid || !notSent">SKAPA</button>
      <mat-progress-bar *ngIf="sending" mode="indeterminate"></mat-progress-bar>
      <h4 *ngIf="success">Kontot har skapats. Ett e-postmeddelande kommer att skicks till dig när kontot har aktiverats.</h4>
    </form>
  </div>
</div>