html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    padding-bottom: 50px;
    word-wrap: break-word;
}

.table-hover tbody {
    cursor: hand;
    cursor: pointer;
}

.navbar {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacer {
    margin-right:10px;
}

#alerts {
    padding-top: 20px;
}

.form-actions {
    margin-top: 10px;
}

.form-extra-actions {
    margin-top: 20px;
}

/* modal fix */
body, .navbar-fixed-top, .navbar-fixed-bottom {
    margin-right: 0 !important;
}

.search {
    margin-bottom: 10px;
}

.menu-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    border: 1px solid transparent;
}

.menu-toggle .icon-bar {
    background-color: #cccccc;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.menu-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.eventUserResources {
    margin-top: 5px;
    margin-bottom: 10px;
}

.user-resource {
    margin-left: 18px;
}

.modal-img-item {
    min-height: 100px;
    max-height: 100px;

    -moz-box-shadow:    0px 2px 5px 0px #999;
    -webkit-box-shadow: 0px 2px 5px 0px #999;
    -o-box-shadow:      0px 2px 5px 0px #999;
    -ms-box-shadow:     0px 2px 5px 0px #999;
    box-shadow:         0px 2px 5px 0px #999;
}

.panel-img-item {
    max-height: 250px;
    max-width: 100%;
    padding: 3px;
}

.panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 19px;
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
}

.modal-backdrop.am-fade.ng-enter {
    opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
    opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
    opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
    opacity: 0;
}







.datepicker.dropdown-menu {
    padding:4px;
    width: 250px;
    height: 270px
}

.datepicker.dropdown-menu button {
    outline: 0;
    border: 0
}

.datepicker.dropdown-menu tbody {
    height: 180px
}

.datepicker.dropdown-menu tbody button {
    padding: 6px
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px
}

.timepicker.dropdown-menu {
    padding: 0 4px
}

.timepicker.dropdown-menu button {
    outline: 0;
    border: 0
}

.timepicker.dropdown-menu tbody button {
    padding: 6px
}


.margin-t {
    margin-top: 20px;
}

.margin-b {
    margin-bottom: 20px;
}

.file-dropzone {
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px dashed #3A3;
    background-color: rgba(120,200,120,0.8);
}