<h2 mat-dialog-title>Ny händelse</h2>

<div mat-dialog-content>
  <div *ngIf="!selectedEventType" class="flex-cols">
    <p>Välj händelsetyp</p>
    <lc-list scrollable="true">
      <div lc-list-item *ngFor="let eventType of eventTypes" clickable="true" (click)="selectedEventType = eventType">
        <div class="list-content">{{ eventType.asText() }}</div>
      </div>
    </lc-list>
  </div>

  <div *ngIf="selectedEventType" class="flex-cols">
    <p>Välj startdatum</p>
    <lc-list [header]="datesHeader" scrollable="true">
      <ng-template lc-list-actions>
        <button mat-icon-button (click)="moveDates(-1)"><mat-icon>chevron_left</mat-icon></button>
        <button mat-icon-button (click)="moveDates(1)"><mat-icon>chevron_right</mat-icon></button>
      </ng-template>
      <div styles="overflow-y: auto">
        <div lc-list-item *ngFor="let day of dates" clickable="true" (click)="selectDate(day)">
          <div class="list-content">{{ day.format('dddd D MMMM') }}</div>
        </div>
      </div>
    </lc-list>
  </div>
</div>

<div mat-dialog-actions class="flex-rows flex-align-end">
  <button mat-button (click)="dialogRef.close()">AVBRYT</button>
</div>