<h2 mat-dialog-title>Be administratör om hjälp</h2>
<div mat-dialog-content>
  <div>
    <b>Från:</b> {{ fromUser.fullName }}
  </div>
  <div>
    <b>Ämne:</b> {{ subject }}
  </div>
  <div class="flex-cols">
    <b>Meddelande:</b>
    <mat-form-field>
      <textarea matInput cdkTextareaAutosize [(ngModel)]="message"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="flex-rows flex-align-end">
  <button mat-button (click)="dialogRef.close()">AVBRYT</button>
  <button mat-button color="primary" (click)="ok()">SKICKA</button>
</div>