<div class="row">
	<div class="col-md-12" ng-switch="selectedEducationType != null">
        <div ng-switch-when="true" ng-if="educationTypes.length > 1" class="btn-group" style="padding-bottom: 10px;">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                {{ "formLabel.educationType" | t }}: {{ selectedEducationType.name | t }}
                &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="et in educationTypes"><a href="#/educationThemes" ng-click="changeEducationType(et)">{{ et.name | t }}</a></li>
            </ul>
        </div>
        <div ng-switch-when="false">{{ 'educationThemeItems.noEducationThemesToShow' | t }}</div>
	</div>
</div>
