@import '~@angular/material/theming';
@import "src/scss/flex-mixin.scss";

:host {
  @include fb-column-container();
}

.header {
  @include fb-row-container();
  @include fb-align-ends();
  @include fb-align-bottom();

  font-size: 12px;
  line-height: 30px;
  padding-left: 16px;
  margin: 4px 0;
  font-weight: 700;
  color: #888;
}

.content {
  @include mat-elevation(1);
  background-color: #fff;
  margin-bottom: 3px;
  overflow-x: visible;
}

.scrollable {
  overflow-y: auto;
}
