@import "src/scss/flex-mixin.scss";

:host {
  @include fb-column-container();
}

.white-background {
  background-color: #fff;
}

.dialog-content {
  background-color: #eee;
  padding: 16px;
}

.search-box {
  padding: 0 16px;
}
