<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  <mat-progress-bar *ngIf="!items?.length" mode="indeterminate"></mat-progress-bar>
  <lc-list scrollable="true">
    <div lc-list-item *ngFor="let item of items" clickable="true" (click)="selectItem(item)">
      <div class="list-content">{{ item.asText() }}</div>
    </div>
  </lc-list>
</mat-dialog-content>

<mat-dialog-actions class="flex-rows flex-align-end">
  <button mat-button (click)="dialogRef.close()">Avbryt</button>
</mat-dialog-actions>