@import '~@angular/material/theming';

@import "src/scss/flex-mixin.scss";

/*:host {
  border: 1px solid #eee;
  width: 100%;
  padding: 10px;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
}
*/


.modal {
  @include fb-rows-container();
  align-items: center;
  justify-content: center;

  z-index: 80000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  height: 800px;
  max-height: 90%;
  width: 500px;
  max-width: 90%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #fff;

  overflow-y: auto;

  @include fb-rows-container();
}
