<mat-nav-list (click)="showModal = true">
  <mat-list-item>
    <div mat-line>Beskrivning</div>
    <div mat-line><span [innerHTML]="representation()"></span></div>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>

<div class="modal" *ngIf="!!showModal">
  <div class="modal-content">

    <textarea [(ngModel)]="description" rows="8"></textarea>
    <pre [innerHTML]="compileText(description)"></pre>

    <div style="text-align: center; margin: 10px">
      <button mat-button (click)="cancel()">Avbryt</button>
      <button mat-button color="primary" (click)="ok()">Ok</button>
    </div>
  </div>
</div>
