<form>
  <legend>Edit event</legend>
  <label for="title">Title</label>
  <input name="title" type="text" placeholder="Title" value="{{title}}"/>
  
  <label for="startTime">StartTime</label>
  <input name="startTime" type="text" placeholder="StartTime" value="{{startTime}}"/>

  <div class="form-actions">
    <a href="#" class="btn btn-primary save">Save changes</a>
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn btn-danger pull-right delete">Delete</a>
  </div>
</form>
