<a href="#eventweek">« Back to events</a>

<p>
	<form>
	  <label for="title">Title</label>
	  <input name="title" type="text" placeholder="Title" value="{{title}}"/>

	  <label for="startTime">Start Time</label>  
	  <input name="startDate" class="input-small" type="text" value="{{date startTime}}">
	  <input name="startTime" class="input-small" type="text" value="{{time startTime}}">
  
	  <label for="endTime">End Time</label>  
	  <input name="endDate" class="input-small" type="text" value="{{date endTime}}">
	  <input name="endTime" class="input-small" type="text" value="{{time endTime}}">

	  <div class="form-actions">
	    <a href="#" class="btn btn-primary save">Save</a>
	    <a href="#" class="btn cancel">Cancel</a>
		{{#if id}}
	    <a href="#" class="btn btn-danger pull-right delete" id="deleteButton">Delete</a>
		{{/if}}
	  </div>
	</form>
</p>