<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Rosette Client</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="home-menu active"><a href="#">Rosette Client</a></li>
                    <li class="events-menu"><a href="#events">Events</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
