@import "src/scss/cordate-theme-def.scss";
@import "src/scss/flex-mixin.scss";

.event-content {
  @include fb-column-container();
  @include fb-fill();
  min-width: 0;

  .event-title {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .event-description {
    font-size: 12px;
    color: #999;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.private {
      border-left: 2px solid #edd;
      padding-left: 8px;
      font-style: italic;
      color: #744;
    }
  }

  .event-resources {
    margin-top: 8px;
    font-size: 12px;
    color: #999;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-left: 2px solid #ddd;
    padding-left: 8px;
    margin: 4px 0;
  }
}

.not-public {
  background-color: mat-color($cordate-primary);
  color: white;
  font-size: 9px;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 2px;
  vertical-align: middle;
}

.bold {
  font-weight: 700;
}