<lc-double-pane>
  <!-- Shoud be <pane-main> when https://github.com/angular/angular/issues/11251 is solved -->
  <div class="pane-main" (dragover)="showUploadDialog()">
    <lc-page-header title="Filer" [isLoading]="isLoading" [failedToLoad]="failedToLoad"></lc-page-header>
    <div class="filter-bar dark">
      <button mat-button [matMenuTriggerFor]="filterMenu"><small>Katalog: </small>{{ selectedFolder?.asText() }}</button>
      <div class="expander"></div>
      <button *ngIf="allowAddNew" mat-icon-button (click)="showUploadDialog()"><mat-icon>add_circle</mat-icon></button>
    </div>

    <mat-grid-list cols="5" gutterSize="1px">
      <mat-grid-tile *ngFor="let upload of uploads">
        <lc-upload-box [upload]="upload"></lc-upload-box>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="pane-aside">
  </div>
</lc-double-pane>

<mat-menu #filterMenu="matMenu" xPosition="after">
  <button mat-menu-item *ngFor="let folder of uploadFolders" (click)="selectFolder(folder)">{{ folder.asText() }}</button>
</mat-menu>