@import "src/scss/flex-mixin.scss";

:host {
  width: 100%;
  height: 32px;
  cursor: pointer;
}

:host > div {
  @include fb-row-container();
  background-color: #fff;
  height: 100%;

  & p {
    word-wrap: break-word;
    flex: 1 1 auto;
    align-self: center;
    margin-left: 16px
  }
}

img {
  max-width: 32px;
  flex: 0 0 32px;
}

mat-icon {
  flex: 0 0 32px;
}
