<item>
    <form class="form-horizontal" role="form">
        <ref-view ref-item="item.educationType" ref-type="educationType"></ref-view>
        <ref-view ref-item="item.educationTheme" ref-type="educationTheme"></ref-view>

        <hr>

        <ref-view ng-if="item.type === 'event'" ref-item="item.event" ref-type="event"></ref-view>
        <time-view ng-if="item.type === 'simple'" item-name="time"></time-view>

        <text-view item-name="authorName"></text-view>

        <hr>

        <text-view item-name="title"></text-view>
        <textarea-view item-name="content"></textarea-view>
        <textarea-view item-name="questions"></textarea-view>
        
        <form-item label="audio" ng-if="safeRecordingUrl">
            <audio ng-src="{{ safeRecordingUrl }}" controls style="width: 100%;"></audio>
        </form-item>
    </form>
</item>