<div style="position: relative" *ngIf="isLoading">
  <mat-progress-bar style="position: absolute" mode="indeterminate"></mat-progress-bar>
</div>
<lc-error-background *ngIf="failedToLoad" text="Misslyckades att ladda data. Testa att logga ut och sen logga in igen."></lc-error-background>

<div *ngIf="!failedToLoad">

  <mat-grid-list cols="5" gutterSize="1px">
    <mat-grid-tile *ngFor="let item of items">
      <lc-asset-box [asset]="item" (click)="selectItem(item)"></lc-asset-box>
    </mat-grid-tile>
  </mat-grid-list>

  <!--
  <lc-list *ngFor="let group of assetGroups" [header]="group.title">
    <div lc-list-item *ngFor="let asset of group.items" (click)="selectItem(asset)" clickable="true">
      <img [src]="asset.image.iconUrl()" style="height: 112px; padding: 4px;">
      <div class="list-content shrink">
        <lc-date-time-box [date]="asset.startTime" style="border-bottom: 1px solid #999; padding-bottom: 8px; margin-bottom: 8px;">
        </lc-date-time-box>
        <lc-date-time-box [date]="asset.endTime"></lc-date-time-box>
      </div>
      <div class="list-content overflow-ellipsis expander" style="padding-left: 0">
        {{ asset.title }}
      </div>
    </div>
  </lc-list>
-->
</div>