<lc-editor-container [item]="item" [actions]="actions" [disabled]="creatingNew" (closeEditor)="closeEditor($event)" (createItem)="createItem()">
  <div *ngIf="item">
    <div class="image-container">
      <img *ngIf="item.isImage" [src]="item.url">
      <audio *ngIf="item.isAudio" [src]="item.url" controls></audio>
    </div>
    <lc-list header="Filinformation">
      <lc-static-editor *ngIf="item.width" lc-list-item valueTitle="Bildstorlek">{{ item.width }} x {{ item.height }}</lc-static-editor>
      <lc-static-editor *ngIf="item.duration" lc-list-item valueTitle="Längd">{{ item.durationString() }}</lc-static-editor>
      <lc-static-editor lc-list-item valueTitle="Filstorlek">{{ item.fileSizeString() }}</lc-static-editor>
      <lc-static-editor lc-list-item valueTitle="MIME-typ">{{ item.mimeType }}</lc-static-editor>
    </lc-list>
  </div>
</lc-editor-container>