.image-container {
  background-color: #eee;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  padding: 8px;
  text-align: center;

  & img {
    max-width: 100%;
  }

  & pre {
    background-color: #fff;
    padding: 8px;
    margin: 0;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: left;
    white-space: pre;
    min-height: 32px;
    max-height: 50vh;
    max-width: unset;
  }

}

.file-drag-over {
  background-image: unset;
}