<items>
	<style>
        .calendarDay {
            margin-bottom: 10px;
        }

        .calendarDate {
            float: left;
            width: 80px;
            text-align: center;
            background: #eee;
            margin-right: 10px;
            padding: 5px;
            border-radius: 5px;
        }

        .calendarDayNr h3 {
            margin: 0;
        }

        .calendarInfo {
            margin-left: 90px;
        }

		.weekHeader {
			margin-bottom: 0;
            margin-top: 0;
			color: #333;
		}
		
		.dateRange {
			margin-top: 0;
			margin-bottom: 25px;
			color: #888;
		}
	</style>
	
	<div class="pull-left">
		<h3 class="weekHeader">{{ 'items.eventweek.week' | t }} {{item.week}}</h3>
	</div>
	
	<div class="btn-toolbar pull-right">
		<div class="btn-group">
			<a class="btn btn-default" href="#{{item.previous_page}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="btn btn-default" href="#/eventweeks/current">{{ 'items.eventweek.today' | t }}</a>
			<a class="btn btn-default" href="#{{item.next_page}}">
                <span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<h4 class="dateRange">{{item.since + '-' + item.until | dateRange}}</h4>
	
	<div class="calendarDay" ng-repeat="day in item.days">
		<div class="calendarDate">
			<div class="calendarDayNr">
				<h3>{{day.date | dayNumber}}</h3>
			</div>
			<div class="calendarDayName">{{'items.eventweek.' + (day.dayNumber | dayName) | t}}</div>
		</div>
	
		<div class="calendarInfo" ng-show="day.events">
			<table class="table table-hover">
				<tr id="{{event.id}}" ng-repeat="event in day.events">
					<td ng-click="showDetails(event.id)">{{event.startTime | time}} <strong>{{event.title}}</strong></td>
                    <td width="46">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#/{{type}}s/{{event.id}}/edit">{{ 'items.edit' | t }}</a></li>
                                <li class="divider"></li>
                                <li class="text-danger"><a href="" class="text-danger" ng-click="remove(event)"><span class="text-danger">{{ 'items.delete' | t }}</span></a></li>
                            </ul>
                        </div>
                    </td>
				</tr>
			</table>
		</div>
	
		<div class="clearfix"></div>
	
	</div>
	
</items>