<h1 ng-show="item.id != null">{{'itemEditor.editTitle.' + type | t}}</h1>
<h1 ng-show="item.id == null">{{'itemEditor.newTitle.' + type | t}}</h1>

<form role="form">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div ng-transclude></div>
        </div>
    </div>

    <div class="form-actions">
        <a class="btn btn-primary" ng-click="save()">{{ 'itemEditor.save' | t }}</a>
        <a href="#/{{backPage}}" class="btn btn-default">{{ 'itemEditor.cancel' | t }}</a>
        <a class="btn btn-danger pull-right" ng-click="remove()" ng-show="item.id != null">{{ 'itemEditor.delete' | t }}</a>
    </div>
</form>