<h1>{{'items.title.' + type | t}}</h1>

<table class="table table-hover">
    <tbody>
    <tr id="{{item.id}}" ng-repeat="item in items">
        <td ng-click="showDetails(item.id)" ng-transclude></td>
        <td width="46">
            <div class="btn-group pull-right">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#/{{type}}s/{{item.id}}/edit">{{ 'items.edit' | t }}</a></li>
                    <li class="divider"></li>
                    <li class="text-danger"><a href="" class="text-danger" ng-click="remove(item)"><span class="text-danger">{{ 'items.delete' | t }}</span></a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<button class="btn btn-primary" ng-click="createNew()">{{ 'items.new.' + type | t}}</button>
