<itemeditor>
    <div class="form-group">
        <label>{{ 'permissionEditor.formLabel.permissionFor' | t }}</label>
        <div class="radio">
            <label>
                <input type="radio" ng-model="formHelper.permissionType" value="everyone">
                {{ 'permissionEditor.formLabel.everyone' | t }}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="formHelper.permissionType" value="group">
                {{ 'permissionEditor.formLabel.group' | t }}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="formHelper.permissionType" value="user">
                {{ 'permissionEditor.formLabel.user' | t }}
            </label>
        </div>

        <div ng-if="formHelper.permissionType=='group'">
            <div class="form-group">
                <label for="form-group">{{ 'permissionEditor.formLabel.group' | t }}</label>
                <select id="form-group" class="form-control" ng-model="formHelper.permissionId" ng-options="group.id as group.name for group in formHelper.groups">
                    <option value="">{{ 'permissionEditor.formLabel.choseGroup' | t }}</option>
                </select>
            </div>
        </div>
        <div ng-if="formHelper.permissionType=='user'">
            <div class="form-group">
                <label for="form-user">{{ 'permissionEditor.formLabel.user' | t }}</label>
                <select id="form-user" class="form-control" ng-model="formHelper.permissionId" ng-options="user.id as user.username for user in formHelper.users">
                    <option value="">{{ 'permissionEditor.formLabel.choseUser' | t }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="form-patterns">{{ 'permissionEditor.formLabel.patterns' | t }}</label>
            <textarea id="form-patterns" class="form-control" ng-model="formHelper.patterns"></textarea>
        </div>

    </div>
</itemeditor>