<itemeditor>
    <div class="form-group">
        <label for="form-username">Username</label>
        <input type="text" class="form-control" id="form-username" ng-model="item.username" autofocus/>
    </div>

    <div class="form-group">
        <label for="form-firstname">First Name</label>
        <input type="text" class="form-control" id="form-firstname" ng-model="item.firstName"/>
    </div>

    <div class="form-group">
        <label for="form-lastname">Last Name</label>
        <input type="text" class="form-control" id="form-lastname" ng-model="item.lastName"/>
    </div>

    <div class="form-group">
        <label for="form-password">Password</label>
        <input type="password" class="form-control" id="form-password" ng-model="item.password"/>
    </div>
</itemeditor>