/* You can add global styles to this file, and also import other style files */

@import "scss/cordate-theme-def";
@import "scss/global-ui.scss";

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-image: linear-gradient(mat-color($cordate-primary, 0.5), mat-color($cordate-primary)), url("/assets/background.png");
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none !important;
  }
}
