/* You can add global styles to this file, and also import other style files */

@import "scss/cordate-theme-def";
@import "scss/global-ui.scss";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-image: linear-gradient(mat-color($cordate-primary, 0.5), mat-color($cordate-primary)), url("./assets/background.png");
  background-color: transparent;
}

@media screen and (min-width: 72rem) {
  .hide-desktop {
    display: none !important;
  }
}
