<itemEditor>
    <textView item-name="type" msg-prefix="resourceType.type"></textView>

    <div ng-if="item.type === 'user' || item.type === 'upload'">
        <textInput item-name="section" autofocus></textInput>

        <textInput ng-if="isCreate" item-name="id"></textInput>
        <textView ng-if="!isCreate" item-name="id"></textView>

    	<textInput item-name="name"></textInput>
        <textAreaInput item-name="description"></textAreaInput>
    
        <div ng-if="item.type == 'user'">
            <ref-input ref-item="item.group" ref-type="group"></ref-input>
            <checkboxInput item-name="multiSelect"></checkboxInput>
            <checkboxInput item-name="allowText"></checkboxInput>
        </div>
        <div ng-if="item.type == 'upload'">
            <textInput item-name="folderName"></textInput>
            <checkboxInput item-name="multiSelect"></checkboxInput>
        </div>
    </div>
</itemEditor>