<div style="position: relative" *ngIf="isLoading">
  <mat-progress-bar style="position: absolute" mode="indeterminate"></mat-progress-bar>
</div>
<lc-error-background *ngIf="failedToLoad" text="Misslyckades att ladda data. Testa att logga ut och sen logga in igen."></lc-error-background>
<lc-list class="max-height-header-filter" *ngIf="!failedToLoad">
  <div lc-list-item *ngFor="let eventType of items" (click)="selectItem(eventType)" clickable="true">
    <div class="list-content">{{ eventType.asText() }}</div>
  </div>
</lc-list>