<lc-editor-container [item]="item" [actions]="actions" [disabled]="creatingNew" (closeEditor)="closeEditor($event)" (createItem)="createItem()">
  <lc-list *ngIf="item">
    <lc-text-editor lc-list-item valueTitle="Id-alias" icon="bookmark" [value]="item.idAlias" (changed)="setIdAlias($event)" [state]="idAliasState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Titel för 'Artiklar'" [value]="item.articlesTitle" (changed)="setArticlesTitle($event)" [state]="articlesTitleState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Titel för 'Ny artikel'" [value]="item.newArticleTitle" (changed)="setNewArticleTitle($event)" [state]="newArticleTitleState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Titel för 'Artikelserier'" [value]="item.articleSeriesTitle" (changed)="setArticleSeriesTitle($event)" [state]="articleSeriesTitleState"></lc-text-editor>
    <lc-text-editor lc-list-item valueTitle="Titel för 'Ny artikelserie'" [value]="item.newArticleSerieTitle" (changed)="setNewArticleSerieTitle($event)" [state]="newArticleSerieTitleState"></lc-text-editor>
    <lc-ref-editor lc-list-item valueTitle="Filkatalog för bilder" refType="assetFolder" [value]="item.imageFolder" (changed)="setImageFolder($event)" [state]="imageFolderState"></lc-ref-editor>
    <lc-ref-editor lc-list-item valueTitle="Filkatalog för ljud" refType="assetFolder" [value]="item.recordingFolder" (changed)="setRecordingFolder($event)" [state]="recordingFolderState"></lc-ref-editor>
    <lc-ref-editor lc-list-item valueTitle="Resurstyp för författare" refType="resourceType" [value]="item.authorResourceType" (changed)="setAuthorResourceType($event)" [state]="authorResourceTypeState"></lc-ref-editor>
  </lc-list>
</lc-editor-container>